/***** Generelt *****/
/* Desktop */
body {
  margin: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 100px 50px;
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  background: transparent;
  color: #1f1f1f;
  border: 1px solid #1f1f1f;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  border-radius: 100px;
  text-decoration: none;
  letter-spacing: -0.5px;
}

.btn:hover {
  background-color: #081336;
  border-color: #081336;
  color: #ffffff !important;
  transition: 0.2s ease-in-out;
}

/* Tablet */
@media (max-width: 1024px) {
  section {
  padding: 70px 30px;
}

.btn {
  font-size: 13px;
}
}

/* Mobil */
@media (max-width: 767px) {
  section {
  padding: 50px 20px;
}

.btn {
  font-size: 12px;
}
}

/***** Navbar *****/
.header-outer {
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px 50px;
  z-index: 100;
  margin-bottom: -80px;
}

/* Tablet */
@media (max-width: 1024px) {
  .header-outer {
  padding: 10px 30px;
  margin-bottom: -75px;
}
}

/* Mobil */
@media (max-width: 767px) {
  .header-outer {
  padding: 10px 20px;
  margin-bottom: -75px;
}
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border: 1px solid #d8dde5;
  border-radius: 100px;
  background-color: transparent;
  z-index: 99;
  transition: 0.2s ease-in-out;
}

.header-inner.scrolled {
  border: 1px solid #d8dde5;
  background-color: rgb(255, 255, 255, 0.6);
  backdrop-filter: blur(5px); 
}

.logo {
  font-size: 24px;
  color: #1f1f1f;
  font-weight: 500;
  font-family: "The Seasons";
  letter-spacing: -1.5px;
  text-decoration: none;
}

/* Tablet */
@media (max-width: 1024px) {
  .logo {
    font-size: 20px;
  }
}

/* Mobil */
@media (max-width: 767px) {
  .logo {
    font-size: 18px;
  }
}

.logo-link {
  text-decoration: none; 
  color: inherit;       
}

.nav-desktop ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
}

.nav-desktop a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 14px;
  transition: color 0.3s;
  font-family: Arial, sans-serif;
  letter-spacing: -0.5px;
}

li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
  
}

li > a:hover::after, li > a.active-nav::after {
  width: 100%;
  background: #1f1f1f;
}

/* Mobilmenu */
.menu-icon {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon span {
  height: 2px;
  width: 25px;
  background: #081336;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .menu-icon {
    display: flex;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.95);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: left 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  z-index: 1000;
}

.mobile-menu.open {
  left: 0;
  opacity: 1;
}

.menu-content {
  width: 80%;
  max-width: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu-content ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #081336;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 2rem;
}

/***** Footer *****/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: #E3F2FB;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  z-index: 99;
}

.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(191, 214, 255, 1) 0%,
    rgba(230, 242, 255, 0.4) 100%,
    transparent 70%
  );
  pointer-events: none;
  transition: background 0.1s ease;
  z-index: 0;
}

.contact {
  text-align: center;
  z-index: 1;
}

.contact h2 {
  color: #081336;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding: 20px 0 30px;
}

.link-container a {
  text-decoration: none;
  color:#525972;
  font-size: 14px;
}

.contact .btn {
  border: 1px solid #39425e;
  color: #39425e;
}

/* Tablet */
@media (max-width: 1024px) {
  .link-container a {
  font-size: 13px;
}
}

/* Mobil */
@media (max-width: 767px) {
  .link-container a {
  font-size: 12px;
}
}

.secondary-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 50px;
  border-top: 1px solid #cdd9e2;
  z-index: 1;
}

.secondary-footer p {
  margin: 0;
  font-size: 12px;
  color: #525972;
}

.secondary-footer a {
   font-size: 12px;
   text-decoration: none;
   opacity: 0.65;
}

.icons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.socials-icon {
  width: 16px;
}

/* Tablet */
@media (max-width: 1024px) {
  .secondary-footer p {
  font-size: 11px;
}

.secondary-footer a {
  font-size: 11px;
}

.socials-icon {
  width: 16px;
}
}

/* Mobil */
@media (max-width: 767px) {
  .secondary-footer p {
  font-size: 11px;
}

.secondary-footer a {
  font-size: 11px;
}

.socials-icon {
  width: 15px;
}
}

/***** Forside *****/
/*** Hero ***/
.hero {
  position: relative;
  width: 100%;
  height: 95vh;
  background-color: #e4f1ff; 
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 80px 50px 0px!important;
}

.hero-overlay {
  position: absolute;
  inset: 0; 
  background-repeat: repeat; 
  background-size: cover; 
  opacity: 0.05; 
  pointer-events: none; 
  z-index: 2;
}

.hero-bg-text {
  position: absolute;
  font-size: 220px;
  font-weight: 800;
  color: #5e87d5;
  opacity: 0.08;
  text-align: left;
  z-index: 1;
  pointer-events: none;
  line-height: 180px;
  font-family: Arial;
}

.hero-content {
  position: absolute;   
  bottom: 0;       
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; 
}

.hero-image {
  width: 150% !important;
  display: block;
}

/*** Projekter ***/
.text-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.projects {
  background-color: #fff;
  text-align: center;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  z-index: 99;
  position: relative;
  padding: 100px 50px 0;
}

/* Tablet */
@media (max-width: 1024px) {
  .projects {
    padding: 70px 30px 0;
} 
}

/* Mobil */
@media (max-width: 767px) {
  .projects {
  padding: 50px 20px 0;
}
}

.project-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr); 
}

@media (max-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

.project-card {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 8px;
  cursor: none;
}

@media (max-width: 1024px) {
  .projects h4 {
    font-size: 40px !important;
  }
}

@media (max-width: 767px) {
  .projects h4 {
    font-size: 32px !important;
  }
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  transition: transform 0.4s ease;
}

.project-card:hover .project-img {
  transform: scale(1.04); 
}

/* Custom cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) scale(0.8);
  pointer-events: none;
  z-index: 9999;
  border: 1px solid #d8dde5;
  border-radius: 100px;
  background-color: rgb(255, 255, 255, 0.4);
  backdrop-filter: blur(5px); 
  color: #1f1f1f;
  padding: 8px 16px;
  font-size: 13px;
  opacity: 0;
  transition: all 0.2s ease;
}

.custom-cursor.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/*** Om ***/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px 140px;
  z-index: 1;
}

.about-text {
  width: 800px;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}

.about-text h2 {
  padding-bottom: 20px;
}

.about-text p {
  line-height: 1.3rem;
}

/* Tablet */
@media (max-width: 1024px) {
  .about {
    padding: 70px 30px 110px;
}
  .about-text {
    width: 100%;
  }
  
}

/* Mobil */
@media (max-width: 767px) {
  .about {
  padding: 50px 20px 90px;
  align-items: start;
}
  .about-text {
    justify-content: start;
    text-align: start;
  }
}

/***** Projekter - underside *****/
.projects-subpage {
  padding: 175px 50px 140px;
}

.heading-text-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 80px;
  gap: 100px;
  justify-content: space-between;
}

.heading-text-container p {
  line-height: 1.3rem;
  width: 500px;
}


/* Tablet */
@media (max-width: 1024px) {
  .projects-subpage {
    padding: 145px 30px 110px;
}

.projects-subpage h1 {
  font-size: 48px;
}

.heading-text-container {
  gap: 40px;
  padding-bottom: 60px;
}

.heading-text-container p {
  width: 100%;
}
}

/* Mobil */
@media (max-width: 767px) {
  .projects-subpage {
  padding: 130px 20px 90px;
}

.projects-subpage h1 {
  font-size: 40px;
}

.heading-text-container {
  flex-direction: column;
  padding-bottom: 40px;
  gap: 20px;
}
}

/***** Om - underside *****/
.about-subpage {
  padding: 100px 50px 140px;
}

.image-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.image-text-container h1 {
  padding-bottom: 20px;
}

.about-image {
  width: 50%;
  object-fit: cover;
}

/* Tablet */
@media (max-width: 1024px) {
  .about-subpage {
    padding: 100px 30px 110px;
}
.image-text-container {
  gap: 40px;
}
}

/* Mobil */
@media (max-width: 767px) {
  .about-subpage {
  padding: 90px 20px 90px;
}

.image-text-container {
  flex-direction: column;
}

.about-image {
  width: 100%;
}
}

.shape {
    border-radius: 34% 73% 72% 31% / 31% 38% 72% 66%;
    animation: fluid 15s ease-in-out infinite;
}

@keyframes fluid {
        0% {
			border-radius: 34% 73% 72% 31% / 31% 38% 72% 66%
		}
		25% { 
			border-radius: 53% 46% 70% 22% / 73% 50% 48% 30%
		}
		50% {
			border-radius: 52% 40% 37% 63% / 52% 32% 71% 41%
		}
		75% {
			border-radius: 32% 62% 90% 41% / 41% 72% 29% 35%		
		}
}

.about-subpage-text {
  text-align: start;
  padding-bottom: 40px;
}

.about-subpage p {
  line-height: 1.3rem;
}

.profile {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.profile p {
  width: 800px;
}

.profile-heading-container {
 position: sticky !important;
  position: -webkit-sticky;
  display: flex;
  flex-direction: column;
  top: 80px;
  height: fit-content;
}

.profile-heading-container h6 {
  font-size: 56px;
  padding-bottom: 10px;
}

.profile-heading-container h2 {
  font-size: 24px;
  font-family: Arial, sans-serif;
}

.skills {
    width: 800px;
}

.skills p {
  padding-bottom: 40px;
}

.skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.skills li {
  list-style: none;
  border: 1px solid #d8dde5;
  border-radius: 100px;
  padding: 8px 16px;
  font-size: 13px;
}

.developer-skills {
  padding-bottom: 40px;
}

.experiences {
  width: 800px;
}

.experience-container {
  padding-bottom: 40px;
}

.experience-container h5 {
  padding-top: 10px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 20px;
}

.experience-link {
  text-decoration: none;
}

/* Tablet */
@media (max-width: 1024px) {
.profile {
  gap: 40px;
  padding-top: 70px;
}

.profile p {
  width: 100%;
}

.profile-heading-container h6 {
    font-size: 48px;
}

.profile-heading-container h2 {
  font-size: 20px;
}

.profile-heading-container {
  width: 200px;
}

.skills {
  width: 100%;
}

.experiences {
  width: 100%;
}
}

/* Mobil */
@media (max-width: 767px) {
.profile {
padding-top: 50px;
flex-direction: column;
gap: 20px;
}

.profile-heading-container h6 {
  font-size: 24px;
  padding: 0;
}

.profile-heading-container h2 {
  font-size: 20px;
  padding-bottom: 2px;
}

.profile-heading-container {
  width: 100%;
  position: unset !important;
  flex-direction: row;
  gap: 10px;
  align-items: end;
}
}

/***** 404 - underside *****/
.notfound {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.notfound-content {
  max-width: 500px;
}

.notfound h1 {
  opacity: 0;
  padding-bottom: 20px;
  animation: fadeInUp 0.8s ease forwards;
}

.notfound p {
  padding-bottom: 40px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


