@font-face {
  font-family: "The Seasons";
  src: url("/src/assets/fonts/TheSeasons-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-heading: "The Seasons", serif;
  --font-body: Arial, sans-serif;
  --color-heading: #1f1f1f; 
  --color-body: #555555;
}

body {
  font-family: var(--font-body);
  color: var(--color-body);
  letter-spacing: -0.5px;
  overflow-x: hidden !important;
}

a {
  color: var(--color-body);
  letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-weight: 500;
  letter-spacing: -1.5px;
  margin: 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 15px
}

/* Tablet */
@media (max-width: 1024px) {
h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 14px
}
}

/* Mobil */
@media (max-width: 767px) {
  h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 13px
}
}